body {  
    font-family: arial, san-serif;
    margin: 0; padding: 0;

}
nav{
    background-color: #fcb612;
    color: white;
    padding: 1em;
}
nav a {
 
    color: #34bb2d;
    text-decoration: none;
    margin-right: 1em;
}

main {
    padding: 2em;
}
.flashes {
    list-style-type: none;
    padding: 0;
}
.flashes li {
    background-color: #ffc;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid  #cc9;
    border-radius: 4px;
}